<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <listeners>
        <listener class-name="ExtentReportManager"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="/home/sweta/IdeaProjects/Amazon_AutomationTesting/src/test/java/Tests">
        <classes>


<!--        </class><class name="Tests.HomePageTest">-->
<!--            -->
<!--        </class><class name="Tests.ProductDetailsTest">-->
<!--            -->
<!--        </class><class name="Tests.ProductPageTest">-->
        <class name="Tests.SignInTest"/>
        </classes>
    </test>
</suite>